ul.nav li {
    margin: 0;
    padding: 10px;
    display: flex;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: rgba(75, 73, 73, 0.425);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 1;
}

ul.nav {
    position: relative;
    list-style-type: none;
    top: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    top: 0;
    bottom: 0;
    margin: auto;
}

ul.nav li:hover {
    cursor: pointer;
    animation-name: ToBlack;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

body {
    background: url("./../src/RW198v3.jpeg") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.logo {
    font-size: 15px;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    display: inline;
}

header {
    position: fixed;
}

form.search-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

form.search-box input[type="text"] {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 35px;
    font-size: 20px;
    margin: auto;
    height: 150%;
    width: 100%;
    border: 0;
    padding-left: 5%;
    padding-right: 5%;
    outline: 0;
}

form.search-box input[type="text"]:hover {
    animation-name: ToTransparent;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

form.search-box input[type="text"]:focus {
    animation-name: ToTransparent;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

form.search-box button {
    position: relative;
    height: 150%;
    margin: auto;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}

form.search-box button:hover {
    animation-name: ToTransparent;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

form.search-box div.time {
    position: relative;
    display: flex;
    font-size: 30px;
    text-align: center;
    color: white;
}

form.search-box div.time p {
    position: relative;
    font-size: 30px;
    text-align: center;
    color: white;
    white-space: nowrap;
}

.history {
    position: relative;
    text-align: left;
    color: white;
    font-size: 15px;
    width: 55vw;
    align-items: start;
    display: flex;
    flex-direction: column;
    cursor: default;
    margin: 10px;
}

div.history ul {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.history ul li {
    border: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-size: 15px;
    text-align: center;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px;
    float: left;
    margin: 5px;
}

div.history ul li:hover {
    cursor: pointer;
    animation-name: ToTransparent;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

#clear {
    cursor: pointer;
    font-size: 10px;
    color: white;
    position: relative;
}

#clear:hover {
    text-decoration: underline;
}

div.main-box {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

div.time {
    display: flex;
    flex-direction: column;
}

#time {
    font-size: 7vw;
    margin-bottom: 0;
    cursor: default;
}

#date {
    font-size: 3vw;
    margin-top: 0;
    cursor: default;
}

div.history ul {
    display: flex;
    margin: 0;
}


@keyframes ToBlack {
    to {background: rgba(46, 45, 45, 0.523);}
}

@keyframes ToTransparent {
    to {background: rgba(255, 255, 255, 0.6);}
}

div.card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: center;
}



div.card {
    display: flex;
    width: 90%;
    margin: 5px;
    min-height: 20vh;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px rgba(46, 45, 45, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

div.card img {
    height: 20vh;
    width: auto;
    margin: 10px;
    border-radius: 15px;
}

div.card a {
    font-size: 30px;
    display: block;
    width: 70%;
}

div.card p {
    display: block;
    width: 70%;
}

div.scroll {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 55px;
    height: 55px;
    margin: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

div.scroll:hover {
    cursor: pointer;
    animation: ToTransparent 0.5s;
    animation-fill-mode: both;
}

div.more {
    position: relative;
    right: 0;
    bottom: 0;
    margin: 5px;
    font-size: 20px;
    width: 90%;
    text-align: center;
    order: 1;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

div.more:hover {
    cursor: pointer;
    animation-name: ToTransparent;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}